body{
    overflow-x: hidden;
}

.logo{
    width: 100%;
    height: 220px;
    margin-top: -60px;
}

#menu{
    background:#89BF25 !important;
}

.nav-link{
    color:#fefefe !important;
    font-size:1.2rem;
    font-weight: bold;
}
.nav-link a:hover{
    color:#000 !important;
    text-decoration: underline;
}


#nosotros{
    width:100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

img{
    padding-top:50px;
}

.imgplan{
    width:80%;
    height:200px;
    margin-left: 15px;

}

#video, #alianzas,#preguntas{
    width:100%;
}

.imgslide{
    height: 600px;
}

#preguntas .titulo {
    width: 100%;
    text-align: center;

}

/* footer */
#footer {    
    width: 100%;
    background-color: #89BF25;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;

}

#noticias {
    background-color: #000;
}

#noticias .titulo {
    width: 100%;
    color: #fff;
    text-align: center;
}